h1 {
	font-size: 20px;
	text-transform: uppercase;
	padding-left: 10px;
	color: #ff523b;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
	font-weight: 400;
	letter-spacing: 1px;

}

h2 {
	color: white;
	padding-left: 20px;
	text-decoration: underline;
	letter-spacing: 2px;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	background-color: rgb(71, 70, 70);
	/* font-family: Georgia, 'Times New Roman', Times, serif; */
	font-family: 'BBH Sans Bogle', sans-serif;

	user-select: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

#plush {
	width: 20%;
	height: 20%;

}

.plush_container {
	display: flex;
	gap: 8px;
	padding-left: 8px;
}

.bara_navigare {
	background-color: black;
	width: 99vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.plush_container .plush_card {
	border: solid 5px #ba3322;
	background: #333333;
	box-sizing: border-box;
	border-radius: 10px;
	transition: background 0.5s;
}

.plush_container .plush_card img {
	transition: transform 0.4s ease;
}

.plush_container .plush_card:hover {
	background: grey;
}

.plush_container .plush_card img:hover {
	transform: scale(1.06);
}

.bara_navigare .left_side {
	display: flex;
	align-items: center;
}

.bara_navigare .right_side {
	display: flex;
	align-items: center;
}

.cart {
	display: flex;
}

.cart img {
	height: 34px;
}

.bara_navigare .right_side .rightB {
	text-decoration: none;

	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 7px 35px;
	margin: 30px 5px;
	border-radius: 30px;
	transition: background 0.5s;
}


.bara_navigare .right_side .rightB:hover {
	background: #563434;
}

.plush_container .plush_card {
	display: flex;
	width: 16.6vw;
	flex-direction: column;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.plush_card .name {
	color: white;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
	letter-spacing: 0.5px;
}

.plush_card .description {
	/* font-family: 'Times New Roman', Times, serif; */
	color: whitesmoke;
	font-size: 12px;
}

.plush_card .buy_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.plush_card .buy_container .cart {
	align-self: center;
	padding-top: 5px;
}

.plush_card .buy_container .price {
	color: #ff523b;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
	letter-spacing: 1px;
}

hr {
	width: 50%;
	margin: 20px auto;
	border: none;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 2px;
}

html {
	scroll-behavior: smooth;
}

/* * {
	border: solid 1px red;
	box-sizing: border-box;
} */

/* .bara_navigare{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
} */

.descriere {
	color: #ff523b;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
	font-weight: 400;
	font-size: 2rem;
/*	font-family: sans-serif;*/
	padding: 2rem;
	border: solid 5px #ba3322;
	background: #333333;
	box-sizing: border-box;
	border-radius: 10px;
	width: 99%;
	align-self: center;
}

.contact {
	margin: 1rem;
	font-size: 2rem;
/*	font-family: sans-serif;*/
	color: whitesmoke;
	padding: 2rem;
	border: solid 5px #ba3322;
	background: #333333;
	box-sizing: border-box;
	border-radius: 10px;
	width: 99%;
	align-self: center;	
}

gmp-map {
	margin: 1rem auto;
    height: 60%;
    width: 50%;
	border: solid 5px #ba3322;  
	border-radius: 10px;  
	align-self: center;
}
